.calendarRow {
  display: flex;
}

.calendarCell {
  flex: 1 1 0%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
   
  color: #1C1C1C;
  border: none;
  background: none;
}

.calendarCell:hover {
  background: #BAAE95;
}

.calendarCellToday {
  background: #8C826A;
  color: #fff;
}

.calendarCellSelected {
  background: #8C826A;
  color: #fff;
}

.calendarCell:disabled,
.calendarCellOtherMonth {
  color: #B0B0B0;
  cursor: not-allowed;
}

.calendarCellOtherMonth:hover {
  background: transparent;
}

/* Container */
.calendarContainer {
  background: #FFF0D5;
  /* bg-amber-50 */
  border-radius: 4px;
  /* rounded-xl */
  box-shadow: 0px 4px 4px 0px #391A114D, 0px 8px 12px 6px #391A1126;
  padding: 12px;
  /* p-6 */
  width: 285px;
}

/* Header */
.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  /* mb-6 */
  padding: 8px;
}

.calendarHeaderLeft {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* space-x-1 */
}

.calendarHeaderMonth,
.calendarHeaderYear {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
   
  color: #1C1C1C;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.calendarHeaderMonth:hover,
.calendarHeaderYear:hover {
  color: #4b5563;
  /* hover:text-gray-600 */
}



.calendarHeaderChevron {
  width: 8px;
  height: 8px;
  color: #5D5D5D;
  margin-left: 0.25rem;
  /* ml-1 */
}

.calendarHeaderRight {
  display: flex;
  align-items: center;
  gap: 8px;
  /* space-x-1 */
}

.calendarNavBtn {
  padding: 0;
  /* p-1 */
  background: none;
  border: none;
  border-radius: 0.375rem;
  /* rounded */
  transition: background 0.2s;
  cursor: pointer;
}

.calendarNavBtn:hover {
  background: #fef3c7;
  /* hover:bg-amber-100 */
}

.calendarNavIcon {
  width: 8px;
  /* w-5 */
  height: 8px;
  /* h-5 */
  color: #5D5D5D;
  /* text-gray-600 */
}

/* Days of week */
.calendarDaysRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
  /* gap-1 */
  margin-bottom: 2px;
  /* mb-4 */
}

.calendarDay {
  height: 2rem;
  /* h-8 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
   
  color: #1C1C1C;

}

/* Calendar grid */
.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarCellDisabled {
  color: #B0B0B0;
  cursor: not-allowed;
}

.calendarCellDisabled:hover {
  background-color: transparent;
}

.calendarCellAvailable {
  /* background: #E8F5E8; */
  /* color: #2D5A2D;
  font-weight: 500; */
}

.calendarCellAvailable:hover {
  background: #D4EDD4;
}