.griffinMain {
    width: 100%;
    height: 100vh;
    background-color: #FFFCF7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.Data_imag {
    width: 100%;
    height: 85vh;
    box-shadow: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
}

.datetilte {
    font-size: 40px;
}

.Dataa_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 88%;
    gap: 28px;
    padding: 0;
}

#Data_type1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    width: 80%;
    align-items: flex-start;
}

.titlewithicon {
    background-color: #F5E5CF;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
    border-radius: 8px;
    height: 32px;
    width: auto;
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    gap: 8px;
    color: #391A11;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;


}

.logodata {
    align-self: flex-start;
    width: 120px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

/* .choosemain{
    display:flex;
} */
.DataimgMain {
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.changeMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.changetab {
    /* width: 22%; */
    width: calc(100% / 4 - 24px);
    height: 12px;
    border-radius: 10px;
    border: solid 2px #E5BA96;
}

.fixed {
    background-color: #E5BA96;
}

.Datamain {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.selecteopt {
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
    color: gray;
    font-family: Inter, sans-serif;
    font-weight: 300 !important;
    font-size: 20px;
    height: 60px;
}

.logos {
    width: 85px;
}

.tbletext {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #1C1C1C;
    width: 100%;
    padding-top: 8px;
    text-align: left;
}

.DatabtnMain3 {
    width: 88%;
    display: flex;
    flex-direction: row !important;
    gap: 24px;
}

.griffinbuttn3 {
    width: calc(50% - 12px);
    height: 58px;
    background-color: #3D3D3D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: #FFFCF7;

}

.griffinbuttn3:hover {
    color: white;
    text-decoration: none;
}

.imgdata {
    display: none;
}

.changeMainmob {
    display: none;
}

.anotherpub2 {
    display: none;
    text-decoration: underline;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FD6F53;


}

.anotherpub {
    display: flex;
    text-decoration: underline;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #1C1C1C;
    padding-top: 24px;


}

.Existlink {
    display: flex;
    text-decoration: underline;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FD6F53;
}

.brandLogo {
    display: none;
}

.griffinMainmob{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .brandLogo {
        display: flex;
        max-width: 92px;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;


    }

    .DataimgMain {
        display: none;
    }

    .Datamain {
        width: 100%;
        height: auto;
    }

    .imgdata {
        display: flex;
        margin-top: 20px;
    }

    .datetilte {
        font-size: 25px;
    }

    #Data_type1 {
        gap: 8px;
        width: 88%;
        margin-bottom: 16px;
    }

    .Datamain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .selecteopt {
        width: 80%;
        border: 1px solid grey;
        border-radius: 5px;
        color: gray;
        font-family: Inter, sans-serif;
        font-weight: 300 !important;
        font-size: 20px;
        height: 45px;
    }

    .griffinMainmob {
        width: 88%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
        margin-top: 14px;
    }

    .changetabg {
        width: 22%;
        height: 8px;
        border-radius: 10px;
        border: solid 1px #C39A7B;
    }

    .griffinbuttn3 {
        height: 57px;
        width: calc(50% - 5px);
    }

    .tbletext {
        font-size: 20px;
    }

    .anotherpub2 {
        display: flex;
        text-decoration: underline;
       font-family: 'Avenir', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 10%;
        text-transform: uppercase;
        text-decoration: underline;
        color: #3D3D3D;

    }

    .Existlink {
        font-size: 16px;
    }

    .SelectMain {
        height: 100vh;
        padding-top: 50px;
    }

    .Dataa_type {
        gap: 20px;
    }
}