.custom-checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: 20px;
  gap: 12px;
}

.custom-checkbox-input {
  display: none;
}

.custom-checkbox-box {
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  border: 3px solid #1C1C1C;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: border-color 0.2s;
}

.custom-checkbox-input:checked + .custom-checkbox-box {
  border-color: #1C1C1C;
}

.custom-checkbox-text {
  user-select: none;
  font-family: "Work Sans", sans-serif;

font-weight: 400;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #1C1C1C;
text-align: start;

}


@media (max-width: 1024px) {
  .custom-checkbox-text{
    font-size: 18px;
  }
}
