@import '../../../../styles/customMediaQueries.css';
@import '../../../../styles/marketplaceDefaults.css';

.formContainer {
  padding: 34px 0;
  color: #fff;
  max-width: 900px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.field {
  margin-bottom: 30px;
  padding: 26px 32px;
  background-color: #222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  & .error {
    color: red;
    margin: 0;
    margin-top: 10px;
    align-self: flex-end;
  }
}

.fieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @media (max-width: 767px) {
    display: block;
  }
}

.fieldText {
  font-size: 14px;
  margin: 0 0 31px;
  font-weight: 400;
  line-height: 16px;
  /* 114.286% */
  letter-spacing: -0.2px;
  max-width: 246px;
  padding: 0;
}

.fieldTextViewCanva {
  text-decoration: underline;
}

.uploadField {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 214px;
  border-radius: 4px;
  border: 1px dashed #fff;
  background: var(--Dark-Grey, #343434);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 8px;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 385px;
  margin: 12px 0;
  position: relative;

  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }

  &.posterUploadField {
    max-width: 160px;
    height: 237px;
    margin: 0;

    @media (max-width: 767px) {
      margin: 30px 0 12px;
    }
  }
}


.inProgress {
  width: 160px;
  height: 237px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:767px) {
    margin: 30px 0 12px;
  }
}

.poster {
  width: 160px;
  height: 237px;
  margin: 0;
  position: relative;

  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }

  /* &.pending{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;
    overflow: hidden;
    & img{
      opacity: 60%;
    }
    background-color: rgba(0, 0, 0, 0.592);
  }
  & .pendingApprovalText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 1rem;
  } */
}

.banner {
  width: 100%;
  height: 214px;
  border-radius: 4px;
  border-radius: 8px;
  max-width: 385px;
  margin: 12px 0;
  position: relative;

  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }

  /* &.pending{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;

    & img{
      opacity: 60%;
      border-radius: 4px
    }
    background-color: rgba(0, 0, 0, 0.592);
  }
  & .pendingApprovalText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  } */
}

.trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 214px;
  border-radius: 4px;
  /* border: 1px dashed #FFF; */
  background: var(--Dark-Grey, #343434);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 8px;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 385px;
  margin: 12px 0;
  position: relative;

  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }

  /* &.pendingApproval{
    opacity: 50%;
  }
  & .pendingApprovalText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  } */
}

.uploadIcon {
  font-size: 32px;
  margin-bottom: 0px;
  padding: 0;
  margin-right: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.saveDraftButton {
  composes: buttonDefaultResting from global;
  padding: 12px 74px;

  @media (max-width: 1023px) {
    height: 48px;
    padding: 12px 24px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
  height: 60px;
  max-width: 241px;
  width: max-content;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }

  @media (max-width: 1023px) {
    height: 48px;
    padding: 12px 20px;
  }
}

.saveButton,
.nextButton {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buttonsGroup {
  display: flex;
  gap: 16px;
  margin-top: 60px;
  @media (max-width: 767px) {
    margin-top: 30px;
    flex-direction: column;
    & > button{
      width: 100%;
      max-width: 100%;
    }
  }
}

.saveButton {
  background-color: #444;
}

.nextButton {
  background-color: #e50914;
}

.fieldHeading {
  margin-bottom: 31px;
  margin-top: 0;
  padding: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  /* 72.727% */
  letter-spacing: -0.2px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fbfbfb 90%, #0000) 0 / calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}


.removeBtn {
  position: absolute;
  right: 9px;
  border: none;
  color: #000;
  width: 25px;
  height: 25px;
  top: 9px;
  z-index: 1;
}

.freeEpisodeTexts {
  display: flex;
  flex-direction: column;
  width: 100%;

  & h3 {
    margin-bottom: 1rem;
  }

  & p {
    width: 100%;
    text-wrap: nowrap;
  }
}

.freeEpisodeContainer {
  margin-bottom: 30px;
  padding: 26px 32px;
  background-color: #222;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.assetUploading {
  font-weight: 600;
}


.deleteInProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 0;

}

.freeEpisodeCheckbox {
  & label {
    & span {
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      line-height: 16px;
      letter-spacing: -0.20000000298023224px;
    }

    &>span:last-child {
      margin-bottom: 0;
      margin-top: 3px;
    }
  }
}

.cardImage {
  height: 100%;
  width: 100%;
}

.dimentionText {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
  margin-bottom: 3px;
}

.confirmButton{
  background-color: var(--marketplaceColor);
}

.cancelButton{
  background-color: var(--colorWhite);
  color: var(--colorBlack);
}