@import '../../../../styles/customMediaQueries.css';
@import '../../../../styles/marketplaceDefaults.css';
.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.formMargins {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
}

.description {
  composes: formMargins;
  flex-shrink: 0;
  max-width: 758px;
}

.listingTypeSelect {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.selectedLabel {
  composes: label from global;
}
.selectedValue {
  margin-top: 0;
  margin-bottom: 6px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 6px 0;
  }
}

.unitTypeHidden {
  display: none;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
  height: 60px;
  max-width: 241px;
  width: max-content;
  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }
  @media (max-width: 1023px) {
    height: 48px;
    min-height: 48px;
    padding: 12px 20px;
    font-size: 14px;
  }
}

.saveDraftButton {
  composes: buttonDefaultResting from global;
  padding: 12px 74px;
  @media (max-width: 1023px) {
    height: 48px;
    padding: 12px 20px;
    min-height: 48px;
  }
}

.gridLayout {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Adjust the gap between rows and columns */
  margin-bottom: 34px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.fieldContainer {
  width: 100%;
  max-width: calc(50% - 10px);
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.buttonsGroup {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  @media (max-width: 767px) {
    flex-direction: column;
    & > button{
      width: 100%;
      max-width: 100%;
    }
  }
}

.creditsSelect {
  /* Dimensions */
  display: block;
  width: 100%;
  margin: 0;
  /* 6 + 24 + 4 + borders are divisible by 6 */
  padding: 6px 12px 4px 12px;
  /* Borders */
  border-radius: 2px;
  border: 1px solid var(--Dark-Grey, #343434);
  outline: none;
  background-color: var(--Background);
  /* Transition */
  transition: all ease-in-out 100ms;
  padding: 6px 24px 4px 12px;
  /* Unset user agent styles */
  appearance: none;
  /* Background */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M6.37383 5.8583L11.8574 0.766689C11.9489 0.681733 12 0.568863 12 0.451489C12 0.334116 11.9489 0.221247 11.8574 0.136291L11.8512 0.130809C11.8068 0.0894813 11.7534 0.0565729 11.6942 0.0340853C11.635 0.0115976 11.5712 9.20865e-07 11.5068 9.15935e-07C11.4424 9.11004e-07 11.3786 0.0115976 11.3194 0.0340852C11.2602 0.0565729 11.2068 0.0894813 11.1624 0.130809L5.99897 4.92549L0.837607 0.130808C0.793229 0.0894805 0.739812 0.0565721 0.680605 0.0340844C0.621398 0.0115968 0.557639 7.81139e-08 0.493207 7.31836e-08C0.428774 6.82534e-08 0.365015 0.0115967 0.305808 0.0340844C0.246601 0.056572 0.193184 0.0894805 0.148806 0.130808L0.142609 0.13629C0.051067 0.221246 -3.87766e-07 0.334115 -3.99489e-07 0.451489C-4.11212e-07 0.568862 0.0510669 0.681732 0.142609 0.766688L5.62617 5.8583C5.67439 5.90308 5.73239 5.93872 5.79665 5.96308C5.86091 5.98744 5.93009 6 6 6C6.06991 6 6.13909 5.98744 6.20335 5.96308C6.26761 5.93872 6.32561 5.90308 6.37383 5.8583Z' fill='white'/%3E%3C/svg%3E");
  background-position: center right 12px;
  color: var(--Mid-Grey);
  &.textSelected{
      color: var(--colorWhite);
  }

  &::placeholder {
    color: var(--colorGrey300);
  }

  @media (--viewportMedium) {
    padding: 4px 32px 4px 16px;
    line-height: 32px;
    background-position: center right 16px;
  }
}

.creditsSelectWrapper {
  max-width: 315px;
  width: 100%;
  position: relative;
  @media (max-width: 767px) {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.creditsSelectDropdown {
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid var(--Dark-Grey, #343434);
  border-radius: 6px;
  border-radius: 4px;
  background-color: var(--Background);
  z-index: 10;
  padding: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  & > span {
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
  }
}

.creditsSelectDropdownItemSub {
  margin-top: 4px;
  & > span {
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
  }
}

.active {
  background-color: var(--marketplaceColor);
  color: var(--colorBlack);
}


.episodeCount{
  max-width: 100%;
}