@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  background: var(--Background);
  margin-top: 39px;
  @media (--viewportMedium) {
    padding: 31px 27px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.submitButton {
  margin-top: 40px;
  margin-bottom: 24px;
  flex-shrink: 0;
  height: 60px;
  max-width: 241px;
  width: max-content;
  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 70px;
  }
  @media (max-width: 1023px) {
    height: 48px;
    padding: 12px 10px;
    min-height: 48px;
  }
}

.heading {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 72.727% */
  letter-spacing: -0.2px;
  margin: 0 0 31px 0;
}

.addForm {
  display: flex;
  gap: 28px;
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 16px;
  }
}

.addButton {
  width: 34.5px;
  height: 33px;
  flex-shrink: 0;
  padding: 0;
  background-color: transparent !important;
  background: transparent;
  margin-top: 14px;
  @media (max-width: 767px) {
    margin-top: 0;
    margin-left: auto;
  }
  &:before {
    content: unset;
  }
  &:hover {
    background-color: transparent !important;
    background: transparent;
  }
  &:focus {
    background-color: transparent !important;
    background: transparent;
    border: 0;
  }
}

.closeButton {
  cursor: pointer;
}
.description {
  width: 100%;
  max-width: 315px;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.castCrewItem {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 20px;
  padding-right: 6px;
  & svg {
    fill: transparent;
  }
}

.point {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  background-color: var(--marketplaceColor);
  border-radius: 50%;
}

.castCrewName {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  flex: 1;
}
