@import '../../../../styles/customMediaQueries.css';

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 37px;
}

.imagesFieldArray {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 0fr;
  gap: 24px;
  margin: 0 0 24px 0;
  max-width: 666px;
}

.thumbnail {
  width: 100%;
  background-color: var(--colorGrey50);
}

.addImageWrapper {
  float: left;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 374px;
  & div {
    max-height: 374px;
  }
  &::after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.addImage {
  /* Layout */
  /* Maintain aspect ratio */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;

  /* Colors */
  background-color: var(--colorBlack);

  @media (--viewportLarge) {
    background-color: var(--colorBlack);
  }

  border-style: dashed;
  border-color: var(--colorGrey100);
  border-width: 1px;
  border-radius: 2px;

  /* Behaviour */
  cursor: pointer;
  transition: var(--transitionStyleButton);

  &:hover {
    border-color: var(--colorGrey300);
  }
}

.chooseImageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  & svg{
    margin-bottom: 34px;
    fill: transparent;
  }
}

.chooseImage {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.305px;

  margin-top: 0;
  margin-bottom: 8px;
}

.imageTypes {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.305px;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.addImageInput {
  display: none;
}

.tip {
  composes: h5 from global;

  flex-shrink: 0;
  color: var(--colorGrey300);
  margin-top: 24px;
  margin-bottom: 60px;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.error {
  color: var(--colorFail);
}

.arrayError {
  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--colorFail);
  width: 100%;
  clear: both;

  margin-top: 6px;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
    margin-top: 6px;
    margin-bottom: 10px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
  height: 60px;
  max-width: 241px;
  width: max-content;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }

  @media (max-width: 1023px) {
    height: 48px;
    padding: 12px 20px;
  }
}

.episodeFile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 374px;
  border-radius: 4px;
  border: 1px dashed #FFF;
  background: var(--Dark-Grey, #343434);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 8px;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 666px;
  margin: 12px 0;
}

.removeBtn{
  right: 9px;
  border: none;
  color: #000;
  width: 25px;
  height: 25px;
  top: 15px;
  z-index: 99; 
  position: absolute;
  cursor: pointer;
  
}

.poster {
  width: 160px;
  height: 237px;
  margin: 0;
  position: relative;
  @media (max-width:767px) {
    margin: 30px 0 12px;
  }
  &.pending{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;
    overflow: hidden;
    & img{
      opacity: 60%;
    }
    background-color: rgba(0, 0, 0, 0.592);
  }
  & .pendingApprovalText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 1rem;
  }
}

.banner{
  width: 100%;
  height: 214px;
  border-radius: 4px;
  border-radius: 8px;
  max-width: 385px;
  margin: 12px 0;
  position: relative;
  @media (max-width:767px) {
    margin: 30px 0 12px;
  }
  &.pending{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;

    & img{
      opacity: 60%;
      border-radius: 4px
    }
    background-color: rgba(0, 0, 0, 0.592);
  }
  & .pendingApprovalText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}

.trailer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 214px;
  border-radius: 4px;
  /* border: 1px dashed #FFF; */
  background: var(--Dark-Grey, #343434);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 8px;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 385px;
  margin: 12px 0;
  position: relative;
  @media (max-width:767px) {
    margin: 30px 0 12px;
  }
  &.pendingApproval{
    opacity: 50%;
  }
  & .pendingApprovalText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}

.filmVideoContainer{
  position: relative;
}

.buttonsGroup {
  display: flex;
  gap: 16px;
  margin-top: 60px;
  @media (max-width: 767px) {

    flex-direction: column;
    & > button{
      width: 100%;
      max-width: 100%;
    }
  }
}

.saveDraftButton {
  composes: buttonDefaultResting from global;
  padding: 12px 74px;

  @media (max-width: 1023px) {
    height: 48px;
    padding: 12px 24px;
  }
}

.confirmButton{
  background-color: var(--marketplaceColor);
}
