@import '../../styles/customMediaQueries.css';

.root {
}
.content {
  margin: 12px 0px 24px 0px;

  @media (--viewportMedium) {
    max-width: 637px;
    width: calc(100% - 48px);
    margin: 0;
  }
}

.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading {
  margin: 0;
  margin-right: 24px;
  padding: 0;
}

.profileLink {
  composes: buttonDefaultResting from global;
  color: #fff;
  padding: 12px 20px;
  margin: 0px 0 0 auto;
  height: 48px;

  flex-shrink: 0;
  width: max-content;
  &:hover{
    text-decoration: none;
  }
}

.layoutSideNavigation {
  background-color: #000;
  & aside {
    background: #171819;
  }
  & main {
    background-color: #000;
    @media (min-width: 1128px) {
      padding-top: 77px;
    }
  }
}

.mainColumn {
  background: var(--colorBlack);
}


.makeProfilePrivateSwitch{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.error{
  font-size: 14px;
  color: red;
}