@import '../../../../styles/customMediaQueries.css';

.baseColumn {
  max-width: var(--contentMaxWidthPages);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.featuresMain {
  composes: baseColumn;
  @media (--viewportMedium) {
    gap: 101px;
  }
  
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-auto-flow: dense;
  gap: 0;

  @media (--viewportMedium) {
    gap: 64px;
    flex-direction: row-reverse;
  }
  @media (--viewportMedium) {
    display: flex;
    justify-content: center;
  }

  @media (--viewportMedium) {
    & > div:first-child{
      max-width: 797px;
      width: 100%;
    }
    & > div:last-child{
      max-width: 550px;
      width: 100%;
    }
  }
  &:nth-child(odd) {
   
    @media (--viewportMedium) {
      flex-direction: row;
    }
  }
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}
