@import '../../../../styles/customMediaQueries.css';
@import '../../../../styles/marketplaceDefaults.css';

.form {
  display: flex;
  flex-direction: column;
}

.addEpisodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 39px 32px;

  @media (max-width:767px) {
    display: flex;
    flex-direction: column;
  }

  & textarea,
  input,
  select {
    background: var(--Background);
    color: var(--colorWhite);
    border: 1px solid var(--Dark-Grey);
    box-shadow: none;

    &::placeholder {
      color: #9d9d9d;
    }
  }
}

.episodeCard {
  width: 100%;
  height: 472px;
  background-color: var(--Background);
  position: relative;
  text-align: center;
  padding: 33px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;

  @media (max-width: 767px) {
    height: 372px;
  }

}

.addEpisode {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.modalContent {
  /* background-color: #fff; */
  padding: 0px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.fileInput {
  margin-top: 10px;
}

.inputField:focus {
  color: #000 !important;
}

button {
  margin: 10px;
}

.fileUpload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #666;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  /* Black background */
  color: #fff;
  /* White text */
  text-align: center;
  cursor: pointer;
}

.fileUploadField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadIcon {
  width: 50px;
  height: 50px;
  color: #fff;
  /* White icon */
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 16px;
}


.episodeFiles {
  display: flex;
  gap: 19px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.episodeFilesLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 214px;
  border-radius: 20px;
  border: 1px dashed #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 385px;
  margin: 12px 0;

  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }
}

.episodeFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 214px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: var(--Dark-Grey, #343434);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 8px;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 385px;
  margin: 12px 0;
  position: relative;
  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }
}

.episodeFileContainer {
  width: 100%;
}

.pendingApproval {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 197px;
  border-radius: 20px;
  background: var(--Dark-Grey, #343434);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 8px;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  max-width: 385px;
  margin: 12px 0;
  position: relative;

  @media (max-width: 767px) {
    margin: 30px 0 12px;
  }
}

.episodeActions {
  display: flex;
  gap: 1rem;
}

.episodeActionsModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}

.showEpisodeCard {
  background-color: var(--Background);
  padding: 33px 36px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;

  
}
.deleteEpisode {
  width: max-content;
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 0;
  margin-top: 20px;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    background-color: transparent;
  }
}

.saveAddEpisode {
  max-width: 246px;
  composes: buttonSecondary from global;
  min-height: 48px;
}

.videoWrapper {
  position: relative;
  margin-bottom: 25px;
  max-height: 197px;
  overflow: hidden;
  & video {
    max-height: 197px;
    height: 197px !important;
  }

  & .videoPlaceholder{
    max-height: 197px;
    height: 197px !important;
  }

  /* padding-top: 56.25%;
      margin-bottom: 15px; */
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.episodeInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.episodeMeta {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 22px;
}

.episodeTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.348px;
  text-align: left;
  margin: 0px 0 18px;
  padding: 0;
}

.episodeDescription {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  word-break: break-word;
}

.episodeActions {
  display: flex;
  align-items: center;

}

.episodeActionsWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.editButton {
  background: none;
  color: #fff;
  border: 0px solid #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.editButton:hover {
  background-color: #444;
}

.freeLabel {
  display: flex;
  align-items: center;
  flex: 1;

  & span {
    font-size: 13px;
    font-weight: 300;
  }
}

.freeLabel input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
}

.freeLabel input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.6 11.508L12.996 5.112L12.289 4.404L6.6 10.092L3.75 7.242L3.042 7.95L6.6 11.508ZM1.616 16C1.15533 16 0.771 15.846 0.463 15.538C0.155 15.23 0.000666667 14.8453 0 14.384V1.616C0 1.15533 0.154333 0.771 0.463 0.463C0.771667 0.155 1.156 0.000666667 1.616 0H14.385C14.845 0 15.2293 0.154333 15.538 0.463C15.8467 0.771667 16.0007 1.156 16 1.616V14.385C16 14.845 15.846 15.2293 15.538 15.538C15.23 15.8467 14.8453 16.0007 14.384 16H1.616Z' fill='%23F5D90A'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.addEpisodeIcon {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;

  & span {
    text-transform: capitalize;
  }

  & svg {
    width: 56px;
    height: 56px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
  height: 60px;
  max-width: 241px;
  width: max-content;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;

  }

  @media (max-width:1023px) {
    height: 48px;
    padding: 12px 20px;
  }
}


.saveDraftButton {
  composes: buttonDefaultResting from global;
  padding: 12px 74px;

  @media (max-width:1023px) {
    height: 48px;
    padding: 12px 24px;
  }
}


.modalHeading {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 66.667% */
  letter-spacing: -0.305px;
  margin: 0 0 63px;
  padding: 0;
  text-align: left;
}

.formRow {
  display: flex;
  margin-bottom: 32px;
  gap: 21px;
}

.buttonsGroup {
  display: flex;
  gap: 16px;
  margin-top: 60px;
  @media (max-width: 767px) {
   
    flex-direction: column;
    & > button{
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }
}

.sequenceNumber {
  flex: 1;
  max-width: 221px;
}

.episodeTitleInput {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  flex: 1;
  margin-bottom: 51px;
}

.fileTypeWrapper {
  text-align: center;
}

.dragDropText {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.305px;
  margin: 13px 0;
  max-width: 198px;
}

.fileTypeText {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  letter-spacing: -0.305px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.episodeFileHeading {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  /* 72.727% */
  letter-spacing: -0.2px;
  margin: 0 0 17px;
  padding: 0;
}

.episodeFileDescription {
  margin: 0 0 15px;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  /* 114.286% */
  letter-spacing: -0.2px;
}


.videoPlaceHolder {
  height: 198.17px;
  top: 32.14px;
  left: 37.49px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.videoFrame {
  width: 100%;
  height: 100%;
}

.removeBtn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  z-index: 1;
}

.reloadWarning{
  color: red;
  margin-bottom: 10px;
}

.message{
  text-align: center;
}

.error{
  color: red;
}

.confirmButton{
  background-color: var(--marketplaceColor);
  color: #fff;
  &:focus{
    background-color: var(--marketplaceColor);
    color: #fff;
  }
}

.deleteConfirmButton{
  background-color: var(--colorFail);
  color: #fff;
  &:focus{
    background-color: var(--colorFail);
    color: #fff;
  }
}
.deleteCancelButton{
  background-color: #fff;
  color: var(--marketplaceColor);
  border: 1px solid var(--marketplaceColor);
  &:focus{
    background-color: #fff;
    color: var(--marketplaceColor);
    border: 1px solid var(--marketplaceColor);
  }
}