@import '../../../../styles/customMediaQueries.css';
@import '../../../../styles/marketplaceDefaults.css';

.panel {
    @media (--viewportLarge) {
        padding: 48px calc((100% - 1374px) / 2) 82px 80px;
    }
    @media (max-width: 1440px) {
      padding: 48px 40px 82px 80px;
  }
  @media (max-width:1023px) {
    padding: 48px 20px 82px 20px;
    background-color: #000;
  }
}

.heading {
    margin-bottom: 14px;
    margin-top: 0;
    padding: 0;
  }
  
  .subHeading {
    margin-top: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.2px;
    max-width: 665px;
    margin-bottom: 23px;
  }
  

  .reloadWarning{
    color: red;
    
  }