.ConfirmMain {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFCF7;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    gap: 2%;
    background-color: #fffcf7;
}

.Data_imag {
    width: 100%;
    height: 85vh;
    box-shadow: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    background-color: #fffcf7;
}
.subtext {
    font-family: Lora;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #1C1C1C;
}
.Data_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* font-family: Inter, sans-serif; */
    gap: 24px;
}
.errorMessage{
    color: red;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
    font-family: Lora, sans-serif;
}
.confirmText {
    font-family: Lora, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #1C1C1C;
    padding-top: 10px;
}

.confirmLogo {
    max-width: 92px;
    width: 100%;
    height: 100px;
    margin-top: 16px;
    margin-bottom: 36px;

}

#Data_type1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    align-items: flex-start;
    margin-bottom: 26px;
}

.inputmain {
    gap: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inputfeild {
    width: 80%;
}

.Confirmtitle_type {
    background-color: #F5E5CF;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
    border-radius: 8px;
    height: 32px;
    width: auto;
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    gap: 8px;
    color: #391A11;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
}

.bookingInfo {
    font-family: Lora, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #1C1C1C;
    padding-bottom: 10px;
    margin: 0;

}

.logodata {
    align-self: flex-start;
    width: 120px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

/* .choosemain{
    display:flex;
} */

.confirmedData {
    width: 80%;
    /* background-color: #000; */
    border-bottom: 1px solid #8C826A;
    height: 66px;
    padding: 20px 0;
}

.ConfirmMainContainer .confirmedData.emaildata {
    border-bottom: 0 !important;
}


.commentSection {
    margin-top: 16px;
    width: 100%;
}

.confirmedDatatype {
    font-family: Work Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #1C1C1C;
    text-align: start;
    gap: 70px;
    margin: 0;
}

.ConfirmMainContainer .inputmain {
    gap: 0px !important;
}

.namedata {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #1C1C1C;
    margin: 0;
    word-break: break-all;

}

.emaildata {
    border-bottom: none;
}

.comt {
    font-family: Lora, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #1C1C1C;
    margin-bottom: 16px;
}

.commentsdata {
    box-shadow: 0px 4px 4px 0px #391A114D, 0px 8px 12px 6px #391A1126;
    background-color: #F5E5CF;
    border: 1px solid #8C826A;
    border-radius: 4px;
    width: 80%;
    padding: 16px;
    margin-top: -5px;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 36px;
}

.tableReturnInfo {
    width: 80%;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #1C1C1C;
    text-align: start;
}
.confirmCheckbox{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 76px;
    margin-top: 24px;
}

.confirmCheckboxLabel{
    text-decoration: underline;
    font-weight: 600;
}
.DetailsimgMain {
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: #fffcf7 !important;
}

.changeMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.changetab {
    width: calc(100% / 4 - 24px);
    height: 12px;
    border-radius: 10px;
    border: solid 2px #E5BA96;
}

.fixedit {
    background-color: #C39A7B;
}

.ConfirmMainContainer {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.textfieldMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-right: -117px; */
}

.eg {
    margin: 0 4px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #3D3D3D;
}

.selecterdata {
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
    color: gray;
    font-family: Inter, sans-serif;
    font-weight: 300 !important;
    font-size: 18px;
}

.logos {
    width: 85px;
}

.tabletext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 20px !important; */
    font-size: 20px;
    /* font-weight: bold; */
    text-align: start;
    letter-spacing: 1px;
    width: 88%;
}

.checktext {
    margin-left: 25px;
}

.check_box {
    margin-left: 0px;
    background-color: white;
}

.ConfirmbtonMain {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.btn1 {
    text-transform: uppercase;
    font-weight: bold;
    width: 80% !important;
}

.btn2 {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #C39A7B !important;
}

.Confirmbuttn {
       width: 100%;
    height: 58px;
    background-color: #3D3D3D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex
;
    text-decoration: none;
    justify-content: center;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: #FFFCF7
}



.imgdata {
    display: none;
}

.changeMainmob {
    display: none;
}

.feildproblem {
    width: 100%;
}


.changeTopMainn {
    width: 88%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.changeToptabb {
    width: 22%;
    height: 8px;
    border-radius: 10px;
    border: solid 1px #C39A7B;
}
.Area_type_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: Inter, sans-serif;
    gap: 36px;
    margin-top: 14px;
}

.promotions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: Inter, sans-serif;
    gap: 36px;
}
.chose_m_link {
    display: none;
}
.logo_large {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 6px;
}
@media only screen and (max-width: 700px) {
    .changeTopMainn{
        display: flex;
        margin-top: 14px;
    }
    .DetailsimgMain {
        display: none;
    }

    .ConfirmMainContainer {
        width: 100%;
    }

    .textfieldMain {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: -0px;
    }

    .feildproblem {
        width: 100%;
    }

    .imgdata {
        display: flex;
        margin-top: 20px;
    }

    #Data_type1 {
        gap: 10px;
        width: 80%;
    }

    .Datamain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .DetailsMainmob {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .Detailstab {
        width: 22%;
        height: 8px;
        border-radius: 10px;
        border: solid 1px #C39A7B;
    }

    .anotherpub2 {
        display: flex;
        text-decoration: underline;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .DetailsMain {
        height: 700px;
        padding-top: 0px;
        width: 100%;
    }

    .commentsdata {
        margin-top: 0px;
        text-align: start;
        font-size: 18px;
         width: calc(100% - 32px);
    }

    .comt {
        margin-top: 30px;
    }

        .logo_large {

        font-size: 24px;
        padding-bottom: 6px;

    }

    .confirmedDatatype{
        font-size: 16px;
    }

    .namedata{
        font-size: 18px;
    }
    .confirmedData{
        height: 54px;
        padding: 16px 0;
        width: calc(100% - 32px);
    }
    .ConfirmbtonMain,
    .tableReturnInfo,
    .confirmCheckbox{
         width: calc(100% - 32px);
    }

    .tableReturnInfo{
        font-size: 18px;
    }

    .confirmCheckbox{
        margin-bottom: 44px;
    }
    .ConfirmbtonMain{
        flex-direction: row-reverse;
        gap: 16px;
    }

    .Area_type_footer{
        margin-bottom: 40px;
    }
       .subtext {
        font-size: 20px;
    }
}