@import '../../../../styles/customMediaQueries.css';
@import '../../../../styles/marketplaceDefaults.css';

.previewContainer {
  position: relative;
  max-width: 100vw;
  padding-bottom: 110px;
  background-color: #000;
}

.actionBarContainer {
  /* height: 107px; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 0px;
  display: flex;
  background-color: #343434;
  justify-content: space-between;
  padding: 26px 70px;
  align-items: center;
  z-index: 4;
  @media (max-width: 767px) {
    padding: 12px 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  & .content {
    line-height: 28px;
    letter-spacing: -0.27px;

    & .message {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      /* 175% */
      letter-spacing: -0.267px;
      margin: 0;
      padding: 0;
    }

    & .listingTitle {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.267px;
      margin: 0;
      padding: 0;
    }
  }

  & .actionButtons {
    display: flex;
    gap: 1rem;
  }
}

.secondaryButton {
  border: 2px solid #fff;
  composes: buttonDefaultResting from global;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.5px;
  padding: 12px 63px;

  @media (max-width: 767px) {
    padding: 12px 20px;
    min-height: 38px;
    height: 38px;
  }
}

.primaryButton {
  padding: 12px 61px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.3px;

  @media (max-width: 767px) {
    padding: 8px 20px;
    min-height: 38px;
    height: 38px;
  }
}

.desktopReviewsTabNav {
  background: #1e1f20;

  &>nav {
    max-width: 1347px;
    margin: 0 auto;
    width: 100%;
    gap: 33px;

    @media (max-width: 1347px) {
      max-width: 100vw;
      padding: 0 24px;
    }

    & button {
      padding: 15px 0 7px;
    }

    & h3 {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      /* 120% */
      margin: 0;
    }
  }
}

.castSection {
  max-width: 400px;
  width: 100%;
  margin-top: 70px;

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.castItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.castItemsWrapper {
  margin-top: 28px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 211.765% */
  letter-spacing: -0.348px;
  margin-bottom: 38px;

  &.castItemsWrapper2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    & .castItem {
      flex-basis: calc(50% - 10px);

      @media (max-width: 767px) {
        flex-basis: 100%;
      }

      & span {
        &:first-child {
          flex-basis: 40%;

          @media (max-width: 767px) {
            flex-basis: 50%;
          }
        }

        &:last-child {
          flex-basis: 60%;

          @media (max-width: 767px) {
            flex-basis: 50%;
          }
        }
      }
    }
  }

  & .castItem {
    &>span {
      &:first-child {
        color: var(--Mid-Grey, #9d9d9d);
      }

      &:last-child {
        color: #fff;
      }
    }
  }
}

.castCrewTitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 180% */
  letter-spacing: -0.348px;
}

.castSection2 {
  margin-top: 82px;
}

.sliderContent {
  border-top: 1px solid #fff;
  padding-top: 62px;
  margin-top: 64px;
  overflow: hidden;
  max-width: 100vw;

  & :global(.slick-track) {
    display: flex !important;
  }
}

.sectionHeading,
.sectionHeadingWithExtraMargin {
  /* Font for sections titles */
  color: var(--White, #fff);
  font-family: 'Sofia Pro';
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  /* 100% */
  margin: 0;
  padding: 0;
}

.previewContainer {
  position: relative;
  max-width: 100vw;
}

.episodesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
  gap: 35px 28px;
  margin-top: 34px;
  /* margin-bottom: 71px;
  padding-bottom: 134px;
  border-bottom: 1px solid #fff; */
}

.episodeCard {
  background-color: #171819;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-align: left;
  padding: 33px 36px 45px;

  @media (max-width: 767px) {
    padding: 33px 20px 45px;
  }

  & .episodeDetails {
    margin-top: 24px;
  }
}

.episodeThumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 202px;
  overflow: hidden;
}

.episodeDetails {
  margin-top: 10px;
}

.episodeTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 125% */
  letter-spacing: -0.348px;
  color: #fff;
  margin: 7px 0;
  padding: 0;
}

.episodeDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px 0 20px;
  padding: 0;
  word-break: break-word;
}

.episodeDuration {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.playButton {
  background-color: #f5d90a;
  border: none;
  padding: 8px 20px;
  border-radius: 100px;

  color: #000;

  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  height: 28px;
  min-height: 28px;
  max-width: 141px;
}

.episodesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
  gap: 35px 28px;
  margin-top: 34px;
  /* margin-bottom: 71px;
  padding-bottom: 134px;
  border-bottom: 1px solid #fff; */
}

.listingDetails {
  max-width: 1347px;
  margin: 74px auto 0;
  padding-bottom: 86px;

  @media (max-width: 1347px) {
    padding: 0 24px 86px;
    max-width: 100vw;
    margin: 30px auto 0;
  }
}


.videoFrame {
  width: 100%;
  height: 100%;
}


.authorSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.castSection {
  max-width: 400px;
  width: 100%;
  margin-top: 70px;

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.castItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.castCrewTitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 180% */
  letter-spacing: -0.348px;
}

.viewAllBtn {
  color: #fff;
  text-align: right;
  font-family: 'Sofia Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 225% */
  letter-spacing: -0.348px;
  text-decoration-line: underline;
  cursor: pointer;
  &:hover{
    color: #FF0000;
  }
}

.castItemsWrapper {
  margin-top: 28px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 211.765% */
  letter-spacing: -0.348px;

  &.castItemsWrapper2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    & .castItem {
      flex-basis: calc(50% - 10px);

      @media (max-width: 767px) {
        flex-basis: 100%;
      }

      & span {
        &:first-child {
          flex-basis: 40%;

          @media (max-width: 767px) {
            flex-basis: 50%;
          }
        }

        &:last-child {
          flex-basis: 60%;

          @media (max-width: 767px) {
            flex-basis: 50%;
          }
        }
      }
    }
  }

  & .castItem {
    &>span {
      &:first-child {
        color: var(--Mid-Grey, #9d9d9d);
      }

      &:last-child {
        color: #fff;
      }
    }
  }
}

.episodeThumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.castSectionItem {
  margin-bottom: 40px;
}

.videoPlaceHolder{
  max-height: 197px;
  overflow: hidden;
}