.selectMain{
    width: 100%;
    min-height: 100vh;
    background-color: #FFFCF7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 2%;
  }
.choose_imag{
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.select_typee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.chooseimgmain{
    width: 50%;
}
.numbrtag{
    color: #000;
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.selctbtn{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #C39A7B;
    font-weight: bold;
    font-size: 20px;
    border: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
}
.selctbtn:hover{
    color: white;
    text-decoration: none;
}
.select_container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.logo_large {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 16px;
}
.texttoprun{
 font-family: Work Sans , sans-serif;
font-weight: 400;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #1C1C1C;
margin: 20px 0;
}

.numbrtag{
    font-family: Work Sans;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-decoration: underline;
color: #1C1C1C;
margin-bottom: 20px;

}
.logos{
    max-width: 92px;
   width: 100%;
height: 100px;

}

.logos2{
    width: 100%;
  max-width: 196px;
height: 90px;

}
.select2{
    border-bottom: solid 1px gray;
    padding-bottom: 15px;
    width: 80%;
}
@media only screen and (max-width: 1024px) {
    .choose_imag{
     display: none;
    }
    .chooseimgmain{
        display: none;
    }
    .select_container{
        width: 100%;
        margin-top: 30px;
    }
    .texttoprun{

        font-size: 17px;
        font-weight: 400;
     }
  }