.horizontalItemsContainer {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    gap: 1rem; /* Spacing between items */
    padding: 1rem; /* Adds some padding around the container */
    scrollbar-width: thin; /* For custom scrollbar styling */
    padding: 10px 0px 0px 0px;
    max-width: 100vw;
}

.horizontalItemsSlider{
    max-width: 1680px;
    width: 100%;
    padding: 35px 100px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1580px) {
      padding: 35px 60px;
    }
    @media (max-width: 1023px) {
      padding: 35px 20px;
    }
    & :global(.slick-list) {
      max-width: 1440px;
      @media (max-width: 1680px) {
        max-width: calc(100vw - 235px);
      }
      @media (max-width: 1580px) {
        max-width: calc(100vw - 120px);
      }
      @media (max-width: 1023px) {
        max-width: calc(100vw - 60px);
      }
      @media (max-width: 767px) {
        max-width: calc(100vw - 40px);
      }
    }
    & :global(.slick-slider) {
      & > div ~ button{
        @media (max-width: 1580px) {
         right: -45px !important;
        } 
        @media (max-width: 1023px) {
          right: 0 !important;
        }
      }
      & > button {
        top: 10% !important;
        & svg {
          width: 30px;
          height: 30px;
        }
      }
    }
}

.horizontalItemsContainer::-webkit-scrollbar {
    height: 8px; /* Scrollbar height for horizontal scrolling */
}

.horizontalItemsContainer::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded scrollbar edges */
}

.pill {
    color: #fff;
  text-align: center;
  border-radius: 100px;
  border: 1.5px solid #2d2e33;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 9px 50px;
  background-color: #2d2e33;
  white-space: nowrap;
  font-family: "Sofia Sans";
}

.pill:hover {
    background-color: #555; /* Slightly brighter background on hover */
}


.itemsWrapper {
    padding: 0 10px;
  }
  