@import '../../../styles/customMediaQueries.css';

.root {
}

/* Shared styles for infoText variants */
.infoText {
  composes: textSmall from global;

  display: inline-block;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: top 4px left;

  margin-top: 11px;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 14px;
    margin-bottom: 1px;
  }
}
.contactDetailsSection {
  margin-top: 16px;
  margin-bottom: 46px;
  padding-top: 6px;

  @media (--viewportMedium) {
    margin-bottom: 56px;
    padding-top: 0;
  }
}

.phone {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.confirmChangesSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 0;
display: none;
}

.confirmChangesSectionVisible {
  opacity: 1;
  display: flex;

}

.emailVerified {
  composes: infoText;
  color: #41B870;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_2885_1626)'%3E%3Cpath d='M8.53583 13.595L5 10.0583L6.17833 8.87996L8.53583 11.2366L13.2492 6.52246L14.4283 7.70163L8.53583 13.595Z' fill='%2341B870'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.833496 9.99998C0.833496 4.93748 4.93766 0.833313 10.0002 0.833313C15.0627 0.833313 19.1668 4.93748 19.1668 9.99998C19.1668 15.0625 15.0627 19.1666 10.0002 19.1666C4.93766 19.1666 0.833496 15.0625 0.833496 9.99998ZM10.0002 17.5C9.01525 17.5 8.03998 17.306 7.13004 16.9291C6.2201 16.5522 5.3933 15.9997 4.69686 15.3033C4.00042 14.6068 3.44798 13.78 3.07107 12.8701C2.69416 11.9602 2.50016 10.9849 2.50016 9.99998C2.50016 9.01507 2.69416 8.0398 3.07107 7.12985C3.44798 6.21991 4.00042 5.39312 4.69686 4.69668C5.3933 4.00024 6.2201 3.44779 7.13004 3.07088C8.03998 2.69397 9.01525 2.49998 10.0002 2.49998C11.9893 2.49998 13.8969 3.29016 15.3035 4.69668C16.71 6.1032 17.5002 8.01086 17.5002 9.99998C17.5002 11.9891 16.71 13.8968 15.3035 15.3033C13.8969 16.7098 11.9893 17.5 10.0002 17.5Z' fill='%2341B870'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2885_1626'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: left 0px;
  padding-left: 24px;
}

.emailUnverified {
  composes: infoText;
  color: var(--colorGrey300);
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M6.52 9.098c-.163.188-.397.3-.646.31h-.032c-.238 0-.466-.094-.635-.263L2.783 6.732c-.353-.35-.354-.92-.003-1.273.35-.353.92-.354 1.272-.004L5.794 7.19l4.59-5.278C9.287.738 7.73 0 6 0 2.686 0 0 2.686 0 6c0 3.313 2.686 6 6 6 3.313 0 6-2.687 6-6 0-.91-.21-1.772-.573-2.545L6.52 9.098z" fill="%23F00" fill-rule="evenodd"/></svg>');
}

.pendingEmailUnverified {
  composes: infoText;
  color: var(--colorFail);
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M6.52 9.098c-.163.188-.397.3-.646.31h-.032c-.238 0-.466-.094-.635-.263L2.783 6.732c-.353-.35-.354-.92-.003-1.273.35-.353.92-.354 1.272-.004L5.794 7.19l4.59-5.278C9.287.738 7.73 0 6 0 2.686 0 0 2.686 0 6c0 3.313 2.686 6 6 6 3.313 0 6-2.687 6-6 0-.91-.21-1.772-.573-2.545L6.52 9.098z" fill="%23F00" fill-rule="evenodd"/></svg>');
}

.checkInbox {
  color: var(--colorGrey700);
}

.emailStyle {
  font-weight: var(--fontWeightBold);
  word-wrap: break-word;
}

.helperLink {
  composes: a from global;
  color: var(--colorGrey700);
  font-weight: var(--fontWeightMedium);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    margin: 0;
  }
}

.tooMany {
  color: var(--colorGrey300);
}

.emailSent {
  color: var(--colorGrey700);
}

.confirmChangesTitle {
  margin-top: 0;
  margin-bottom: 13px;
  color: #9D9D9D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.348px;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.confirmChangesInfo {
  margin-top: 0;
  margin-bottom: 37px;

  @media (--viewportMedium) {
    margin-bottom: 48px;
  }
}

.bottomWrapper {
  margin-top: 46px;

  @media (--viewportMedium) {
    margin-top: 96px;
  }
  & button{
    border-radius: 50px;
    height: 48px;
    min-height: 48px;
  }
}

.error {
  composes: h4 from global;
  color: var(--colorFail);
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 24px 0;

  @media (--viewportMedium) {
    margin: 24px 0;
  }
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.firstName {
  width: calc(50% - 5px);
}

.lastName {
  width: calc(50% - 5px);
}